#main-footer, #footer-bottom {
  .container {
    padding: 0 30px;
    width: 100%;
    max-width: none;
  }
}

#main-footer {
  background-color: $color-blue-threadcap;
  position: relative;
  overflow: hidden;
  padding: 75px 0 0;

  .footer-widget {
    margin: 0 !important;
    width: 50%;
    padding: 0px;
    display: flex;
    justify-content: center;

    &:nth-child(1) {
    }

    &:nth-child(3) {
      text-align: right;
      justify-content: flex-end;
    }

    &.last {
      .et_pb_widget {
        float: none;
        margin: 0;
      }
    }

    .widget_media_image {
      max-width: 200px;
    }
  }
}

#footer-widgets {
  display: flex;
  justify-content: space-around;
  padding: 30px;

  a, .footer-widget li a {
    text-decoration: underline;

    &:hover, &:focus, &:active {
      color: $color-green-light !important;
    }
  }

  .fwidget {
    margin-bottom: 0;
  }

  .footer-widget li {
    padding: 0 10px;

    &:before {
      border-width: 0;
    }
  }

  .textwidget p {
    color: $color-white;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;

    .footer-widget {
      &:nth-child(1) {
        margin-bottom: 1em;
      }
      &:nth-child(2) {
        width: 50% !important;
        align-self: flex-start;
        align-items: flex-start;
      }
      &:nth-child(3) {
        width: 50% !important;
        align-self: flex-end;
        align-items: flex-end;
      }
    }

    .social-footer > div {
      display: inline-block;
    }
  }

  .social-footer > div {
    padding-bottom: 10px;

    a {
      margin-right: 10px;
    }
  }

  @media (max-width: 550px) {
    .footer-widget {
      &:nth-child(2) {
        width: 100% !important;
        text-align: center;
      }
      &:nth-child(3) {
        width: 100% !important;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

#footer-bottom {
  font-family: "Droid Serif", serif;
  background: $color-orange-a11y;
  font-size: 12px;
  line-height: 1.4em;
  color: $color-white;
  padding: 5px 0;

  .container {
    text-align: center;
  }

  a {
    color: $color-white;
    text-decoration: none;

    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }

  @media (min-width: 551px) {
    .left, .center, .right {
      width: 33%;
      float: left;
      text-align: left;
    }

    .center {
      text-align: center;
    }

    .right {
      text-align: right;
    }
  }
}

[class*="icon-"] {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-indent: -100em;
  color: $color-orange-dark !important;

  &::before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.icon-facebook::before {
  background-image: url('../images/facebook.svg');
}

.icon-twitter::before {
  background-image: url('../images/twitter.svg');
}

.icon-instagram::before {
  background-image: url('../images/instagram.svg');
}

.icon-youtube::before {
  background-image: url('../images/youtube.svg');
}

.icon-linkedin::before {
  background-image: url('../images/linkedin.svg');
}
