// Nav Container and Logo
#main-header {
  box-shadow: none;
  padding-bottom: 30px;
  transition: padding 0.3s ease;

  &.et-fixed-header {
    padding-bottom: 20px;
  }

  @media (max-width: 980px) {
    padding-bottom: 0;

    .container {
      width: 90%;
    }
  }

  #logo {
    max-width: 200px;
  }

  #et-top-navigation {
    margin-left: 50px;
  }
}

#top-header {
  height: 40px;


  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mlp_widget {
    a {
      padding: 5px 10px;
      border: 1px solid $color-white;

      &.current-language-item {
        background: $color-blue-a11y;
      }
    }
  }
}

#logo {
  position: relative;
  top: 14px;

  @media (max-width: 980px) {
    top: 0;
    max-height: 65%;
  }
}

// Secondary Nav
#top-header a {
  text-decoration: none;
  transition: color .2s ease;
  text-transform: uppercase;

  &:hover, &:active, &:focus {
    color: $color-white;
    text-decoration: underline;
  }
}

.ncrc-logo {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../images/ncrc-mark-white.svg');
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

#et-secondary-menu {
  float: none;
  margin: 0 auto;
  text-align: center;
}

#et-secondary-menu > ul > li > a {
  padding-bottom: 9px;
}

#et-secondary-menu li.menu-item-has-children {
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    border: 10px solid transparent;
    border-bottom-color: $color-gray-light;
    opacity: 0;
    transition: opacity .3s;
  }

  &:hover, &:active, &:focus {
    &::before {
      opacity: 1;
    }
  }

  & > a:first-child {
    padding-right: 0;

    &::after {
      display: none;
    }
  }

  ul.sub-menu {
    padding-top: 10px;
    border: 2px solid $color-gray-light;

    li {
      padding: 0;
      width: 100%;
    }

    a {
      text-align: left;

      &:hover, &:focus, &:active {
        text-decoration: none;
        background: none;
        opacity: 1;
      }
    }
  }
}

#et-top-navigation, #et-secondary-menu {
	font-weight: normal;
}

// Primary Nav
#top-menu li, #mobile_menu li {
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    border: 17px solid transparent;
    opacity: 0;
    transition: opacity .3s;
  }

  a {
    text-decoration: none;
  }

  a:first-child {
    padding-right: 0 !important;
    padding-left: 20px;

    &::after {
      display: none;
    }
  }

  &:hover, &:active, &:focus {
    &::before {
      opacity: 1;
    }
  }

  // Contact (Blue)
  &.menu-item-39 {
    .sub-menu {
      border: 2px solid $color-blue-threadcap;
    }

    &::before {
      border-bottom-color: $color-blue-threadcap;
    }
  }
}

.et_header_style_left #et-top-navigation nav>ul>li>a {
  padding: 20px;
}

#top-menu>li:last-child {
    padding-right: 22px;
}

// CTA Nav Item
.nav-cta {
  background: $color-green-a11y;

  a {
    color: white !important;

    .et-fixed-header #top-menu & {
      color: white !important;
    }
  }
}

.et_header_style_left #et-top-navigation nav>ul>li>a, .et_header_style_split #et-top-navigation nav>ul>li>a {
  padding-bottom: 20px !important;
}

.et-fixed-header.et-fixed-header #top-menu li.current-menu-ancestor>a, .et-fixed-header.et-fixed-header #top-menu li.current-menu-item>a {
    color: white!important;
}

@media only screen and (min-width: 981px) {
  .et-fixed-header #top-menu li.current-menu-ancestor>a, .et-fixed-header #top-menu li.current-menu-item>a {
      color: white!important;
  }
}

#top-menu li.current-menu-item>a {
  color: $color-blue-threadcap;
}

#top-menu .sub-menu, #mobile_menu .sub-menu {
  padding-top: 10px;
  padding-left: 0 !important;

  li {
    padding: 0;
    width: 100%;

    &::before {
      display: none !important;
    }

    a {
      width: 100%;
      text-transform: none;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.35em;
      padding: 10px 20px !important;
      border-bottom: 0;

      &:hover, &:focus, &:active {
        text-decoration: none;
        background: none;
        opacity: 1;
      }
    }

    &.current-menu-item > a {
      font-weight: bold;
    }
  }
}

// Collapsible and accessible mobile menu
.mobile_menu_toggle {
  display: block;
  position: relative;
  line-height: 0;
  padding-bottom: 24px;
  text-decoration: none;

  &::before {
    color: #237bc0;
    position: relative;
    top: 0;
    left: 0;
    font-size: 32px;
    content: "\61";
    cursor: pointer;
    text-shadow: 0 0;
    font-family: ETmodules!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-transform: none;
    speak: none;
  }
}

.mobile_nav.opened {
  .et_mobile_menu {
    display: block;
  }
}

#mobile_menu li {
  position: relative;

  &::before {
    display: none;
  }

  a {
    background: none;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }
}

#mobile_menu .menu-item-has-children {
  & > a {
    position: relative;

    &::after {
      display: block !important;
      font-family: 'ETmodules';
      text-align: center;
      speak: none;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      font-size: 16px;
      content: '\4c';
      top: 13px;
      right: 10px;
    }
  }

  .sub-menu {
    display: none;
    opacity: 0;
    overflow: hidden;
    height: 0;
    transition: all .3s ease-in-out;
    padding-top: 0;
  }

  &.opened {
    .sub-menu {
      display: block;
      height: auto;
      opacity: 1;
    }

    & > a::after {
      content: '\4b';
    }
  }
}

.mobile_menu_toggle::after {
  content: "Menu";
  bottom: 9px;
  position: relative;
}

@media (max-width: 767px) {
  .et_parallax_bg {
    background-position: right;
  }

  #mobile_menu li.menu-item-39 .sub-menu {
    border: none;

    a {
      padding: 5px 20px !important;
    }
  }
}

.menu-item-336 {
  background: $color-blue-threadcap;

  a {
    color: white !important;
  }
}

.et-fixed-header.et-fixed-header #top-menu li.current-menu-item > a {
    color: black !important;
}

@media only screen and (min-width: 981px) and (max-width: 1377px) {
  #logo {
    max-height: 50% !important;
  }

  #top-menu li a {
    font-size: 16px;
  }

  #et-top-navigation {
    margin-left: 75px !important;
  }
}
