.home {
  h1.et_pb_module_header {
    @media (max-width: 480px) {
    }
  }
}

.hero {
  height: 80vh;
  position: relative;
  color: white;

  .hero-header {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 3em;
    line-height: 1.5em;
  }

  .hero-text {
    position: absolute;
    bottom: 0;
    background: orange;
    padding: 40px 10%;
    text-align: center;
    font-size: 20px;
    line-height: 1.5em;
  }
}

.et_pb_section.what-we-do {
  .et_pb_row_fullwidth {
    flex-wrap: wrap;

    .et_pb_text {
      position: relative;

      h3 {
        margin: 0;
        padding: 0;
      }

      a {
        display: block;
        text-decoration: none;
        padding: 22% 20px;
        text-shadow: 0.08em 0.08em 0.08em rgba(0,0,0,0.4);
        transition: all .3s ease-in-out;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          transition: opacity .3s ease-in-out;
          z-index: -1;
        }
        &:hover, &:active, &:focus {
          color: $color-white;
          text-shadow: 0.08em 0.08em 0.8em rgba(0,0,0,1);

          &::before {
            opacity: 1;
          }
        }
      }
    }

    // Engagement
    .et_pb_text_1 a::before {
      background: rgba($color-blue-a11y,0.3);
    }

    // Leadership
    .et_pb_text_2 a::before {
      background: rgba($color-orange-a11y,0.3);
    }

    // Lending
    .et_pb_text_3 a::before {
      background: rgba($color-green-a11y,0.3);
    }

    // Research
    .et_pb_text_4 a::before {
      background: rgba($color-yellow-a11y,0.3);
    }

    @media (max-width: 767px) {
      .et_pb_column {
        width: 100%;
      }
    }
  }
}

.home.home .blog-highlights {
  @media (max-width: 980px) {
    width: 80%;
    margin: 0 auto;

    .column.size-1of2 {
      width: 100% !important;
      clear: none;
      float: none;

      &:first-child {
        .et_pb_post {
          &:first-child {
            width: 100%;
          }

          &:nth-child(2) {
            width: 50%;
            float: right;
          }
        }
      }

      &:nth-child(2) {
        position: relative;
        width: 50% !important;
      }
    }

    .et_pb_blog_grid {
      // max-width: 80%;
      margin: 0 auto;

      .column.column .et_pb_post {
        margin-bottom: 20px !important;
      }
    }
  }

  @media (min-width: 981px) {
    .et_pb_salvattore_content {
      .column {
        flex-grow: 1;
        max-width: none;
        width: 33.333% !important;
      }
    }
  }

  .et_pb_post {
    border: none;
    height: 100%;
    padding: 0 !important;
    position: relative;
    background: $color-blue-light;
    display: flex;
    flex-direction: column;

    .entry-title {
      margin-bottom: 0 !important;
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;

      @media all and (max-width: 980px) {
        display: block;
      }

      a {
        height: 100%;
        display: block;
        flex: 1 0 auto;
        min-height: 52px;

        @media all and (max-width: 980px) {
          min-height: 68px;
        }
      }
    }

    .post-content {
      display: none !important;
    }
  }
}
