.post-header {
  height: 250px;
  background-position: center;
  background-size: cover;

  .entry-meta {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 150px;
    color: white;

    h1 {
      color: white;
    }
  }
}

.post-page {
  display: flex;
  flex-wrap: wrap;

  .post-wrapper {
    flex-basis: calc(33% - 2em);
    margin: 1em;
    margin-bottom: 2em;

    @media (max-width: 950px) {
      flex-basis: calc(50% - 2em);
    }

    @media (max-width: 767px) {
      flex-basis: calc(100%);
    }

    .excerpt {
      padding: 20px;
      height: inherit;
      background: rgba($color-orange-a11y, .8);
      color: white;
      opacity: 0;
      transition: all 300ms;
    }

    section {
      height: 200px;
      background-position: center;
      background-size: cover;

      &:hover > .excerpt {
        opacity: 1;
      }
    }
  }

  .entry-title {
    margin-top: 10px;

    a {
      text-decoration: none;
    }
  }
}
