.et_pb_widget_area, #sidebar {
  padding: 0;

  h4.widgettitle {
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: $color-white;
  }

  .et_pb_widget {
    li {
      a {
        font-family: $font-sans-serif;
        font-size: 16px;
        text-decoration: underline;
        display: block;
        padding: 8px 0;
        color: $color-white;

        &:hover, &:focus, &:active {
          color: $color-white;
          text-decoration: none;
        }
      }
    }
  }

  .widget_nav_menu, .widget_categories {
    padding: 26px 30px 0;
    min-height: 294px;
    position: relative;
    margin-bottom: 0;

    div[class*="menu-"], ul.menu {
      min-height: 223px;
    }

    @media (max-width: 980px) {
      min-height: 298px;

      div[class*="menu-"], ul.menu {
        min-height: 228px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 0;
      box-sizing: border-box;
      padding-bottom: 100%;
      clip-path: polygon(0 0, 100% 0, 0 100%);

      // Edge
      @supports (display:-ms-grid) {
        padding-bottom: 0;
        background: none;
        border: 12.5vw solid transparent;

        @media (max-width: 980px) {
          border-width: 16.5vw;
        }
      }

      // IE
      @media all and (-ms-high-contrast:none) {
        padding-bottom: 0;
        background: none;
        border: 12.5vw solid transparent;
      }

      // IE Small
      @media all and (max-width: 980px) and (-ms-high-contrast:none) {
        border-width: 16.5vw;
      }
    }
  }

  ul li {
    margin: 0;
  }

  li.current_page_item {
    a {
      text-decoration: none;
      font-weight: 800;
    }
  }
}

// .et_pb_column_1_4 {
//   h2 {
//     font-size: 28px;
//   }
//
//   .et_pb_text {
//     padding: 26px 30px 0;
//   }
//
//   .et_pb_module.bottom {
//     margin-top: auto !important;
//     padding-bottom: 1em;
//     font-size: 16px;
//   }
// }

.et_pb_equal_columns,
.et_section_specialty > .et_pb_row {
  .et_pb_column {
    display: flex;
    flex-direction: column;
  }
}
