.person, .staff {
  clear: both;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $color-orange-light;
  margin-bottom: 3em;
  padding-bottom: 1.5em;

  img {
    display: block;
  }

  .tagline {
    font-family: $font-sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2em;
  }

  h3 {
    font-size: 26px;
    margin: 0;
    padding: 0;
  }

  .title {
    font-family: $font-sans-serif;
    font-weight: 300;
    font-size: 22px;
    margin: 0;
  }

  a {
    font-family: $font-sans-serif;

    &.read-more {
      text-transform: uppercase;
    }
  }

  .col_3_8 {
    width: 33%;
    order: 2;
  }

  .col_5_8 {
    width: 66%;
    padding-right: 20px;
    order: 1;
  }
}

.single-staff {
  .page-title {
    font-size: 14px;
  }

  .entry-title {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .hentry {
    width: 75%;
    padding: 0 20px;
    margin-left: 25%;
    font-size: 18px;
    line-height: 1.7em;
    border-bottom: 0;

    .entry-content {
      overflow: visible;
    }

    @media (max-width: 980px) {
      width: 67%;
      margin-left: 33%;

      .person {
        display: block;
      }

      .col_3_8 {
        float: right;
        padding: 0 0 20px 20px;
      }

      .col_5_8 {
        width: 100%;
        padding: 0;
      }
    }
  }

  .person {
    border-bottom: 0 none;
    margin-bottom: 0;
  }
}
