$color-blue-a11y: #237BC0;
$color-blue-dark: #2686C7;
$color-blue-light: #559ED6;
$color-green-a11y: #358734;
$color-green-dark: #54A352;
$color-green-light: #72C075;
$color-yellow-a11y: #BE8D01;
$color-yellow-dark: #DFB12E;
$color-yellow-light: #FECF3D;
$color-orange-a11y: #BD5B0D;
$color-orange-dark: #D57027;
$color-orange-light: #E58D28;
$color-black: #000;
$color-white: #FFF;
$color-gray-light: #EFEFEF;

$color-blue-threadcap: #094468;


$font-sans-serif: "Montserrat", Montserrat, sans-serif;
