.et_pb_text {
  table {
    border: none;

    th {
      text-align: left;
      font-weight: bold;
      font-family: $font-sans-serif;
    }

    @media (max-width: 1200px) {
      width: 100%;
      max-width: 100%;
      overflow-x: hidden;
      border-collapse: collapse;
      border-spacing: 0;
      display: block;
      position: relative;

      thead {
        border: 0;
        border-right: 1px solid $color-gray-light;
        display: block;
        float: left;

        tr {
          display: block;
          padding: 0 10px 0 0;
        }

        th, td {
          display: block;
          word-break: keep-all;
          word-wrap: normal;
        }
      }

      tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;

        tr {
          display: inline-block;
          vertical-align: top;
          border-bottom: none;
          padding: 0 10px;
        }

        th, td {
          display: block;
          min-height: 1.25em;
          text-align: left;
          margin: 0;
          vertical-align: top;
          padding: 15px 10px;
          width: auto !important;
          border: none;
        }
      }
    }
  }
}
