.et_pb_button.et_pb_button.et_pb_button, a.more-link {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  background: #FECF3D;
  color: #000;
  border: 0;
  border-bottom: 5px solid #DFB12E;
  font-family: "Montserrat", Montserrat, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

// .et_pb_button.et_pb_button.et_pb_button,
// a.more-link {
//   position: relative;
//   padding-left: 40px !important;
//   padding-right: 40px !important;
//
//   &::before, &::after {
//     display: block !important;
//     content: '';
//     position: absolute;
//     top: 0;
//     border: 20px solid transparent;
//     opacity: 1;
//     margin: 0;
//   }
//
//   &::before {
//     left: 0;
//     border-left-color: $color-orange-dark;
//   }
//
//   &::after {
//     right: 0;
//     border-right-color: $color-orange-dark;
//   }
//
//   &:hover, &:focus, &:active {
//     box-shadow: 0.08em 0.08em 0.6em rgba(0,0,0,0.4);
//
//     &::before, &::after {
//       display: block !important;
//       opacity: 0;
//     }
//   }
//
//   &.invest_button {
//     display: inline-block;
//
//     &, &:hover, &:active, &:focus {
//       background: $color-green-light !important;
//       border: 3px solid $color-green-dark !important;
//       color: $color-black !important;
//     }
//
//     &::before {
//       border-left-color: $color-green-dark;
//     }
//
//     &::after {
//       border-right-color: $color-green-dark;
//     }
//   }
// }
//
// .et-pb-arrow-next, .et-pb-arrow-prev {
//   text-decoration: none;
// }
