.wpcf7-form {
  .row {
    clear: both;
    width: 100%;
    margin: 0 0 1em;

    label {
      font-size: 16px;
      color: #666;
      font-family: $font-sans-serif;
      display: block;
    }

    .wpcf7-form-control-wrap {
      display: block;
    }
  }

  input[type="email"], input[type="text"], textarea {
    margin: 0;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }

  .wpcf7-submit {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    background: $color-yellow-light;
    color: $color-black;
    border: 0;
    border-bottom: 3px solid $color-yellow-dark;
    font-family: $font-sans-serif;
    text-transform: uppercase;
    padding: 10px 40px;
    font-size: 18px;

    &:hover, &:focus, &:active {
      box-shadow: 0.08em 0.08em 0.6em rgba(0,0,0,0.4);
    }
  }
}

.page-id-399 .et_pb_column_1 {
  padding-left: 0px;
}
