.process-graphic {
  background: $color-green-a11y;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 30px 20px;

  article, .dash {
    flex: 2;
    width: 0;
  }

  .dash {
    border-top: 9px dashed white;
    opacity: .5;
    align-self: center;
  }

  img {
    height: 125px;
  }

  p {
    color: $color-white;
    font-size: 20px;
    padding-top: 15px;
  }
}

.graphic-row {
  .et_pb_row {
    min-width: 100%;

  }
}

@media(max-width: 980px) {
  .process-graphic {
    flex-direction: column;

    article {
      width: 100%;
      padding: 20px 0;
    }

    .dash {
      border-left: 9px dashed white;
      border-top: none;
      height: 150px;
    }
  }
}
