.process-graphic {
  background: $color-green-a11y;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 50px;

  img {
    height: 125px;
  }

  p {
    color: $color-white;
    font-size: 20px;
  }
}
